.songContainer{
  z-index:7
}

.play {
  background: #16aa4a;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 4px;
  font-size: 10px;
  text-decoration: none;
  box-shadow: 1px 3px 10px rgb(3, 0, 0);
  cursor: pointer;
  outline: none;
}

.user-song-item {
  list-style-type: none;
  border-bottom: 1px solid #666;
  display: flex;
  line-height: 40px;
  font-size: 14px;
  padding:1px;
  cursor: pointer;
}

.user-song-item:hover {
  background: rgb(31, 29, 36);
}

.active.user-song-item {
  color: #1db954;
  background: rgb(51, 51, 51);
}

.user-song-item:hover > .play-song {
  opacity: 1;
}

.song-header {
  width: 300px;
}

.song-artist,
.song-artist-header {
  width: 200px;
}

.song-title-header {
  margin-left: 50px;
}

.user-song-item .play-song {
  width: 40px;
  opacity: 0;
  text-align: center;
}

.user-song-item  .play-song .fa {
  font-size: 30px;
  position: relative;
  top: 5px;
  color: #ccc;
  cursor: pointer;
}


.song-album p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 7rem;
  line-height: 42px;
}

.song-artist p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  line-height: 42px;
}

.song-title p,
.song-length p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  line-height: 42px;
}

.song-length,
.song-length-header {
	width: 60px;
}

.song-added,
.song-added-header {
	width: 80px;
}

.song-album,
.song-album-header {
	width: 210px;
}

.song-artist,
.song-artist-header {
	width: 180px;
}

.song-title,
.song-title-header {
	width: 250px;
}

.song-header p {
  font-size: 18px;
  color: #ccc;
  padding: 0 8px;
}

.song-header-container {
  display: flex;
  border-bottom: 1px solid #666;
  padding-bottom: 6px;
  margin-top: 20px;
}